<table cellspacing="5px" cellpading="10px" border="2px solid black">
    <tr>
        <th>Test</th>
        <td>T1</td>
        <td>T2</td>
        <td>T3</td>
        <td>T4</td>
        <th>Total</th>
    </tr>
    <tr>
        <th>Total</th>
        <td><%=t1%></td>
        <td><%=t2%></td>
        <td><%=t3%></td>
        <td><%=t4%></td>
        <td><%=total%></td>
    </tr>
</table>